body{
    height: 1500px;
    position: relative;
}
li{
    display: inline;
    padding: 10px;
    list-style: none;
}
a<

 #navbar1{
    background-color: aqua;
 }
 li{

    display: inline; 
 }
 
 #navbar2 
 {
    background-color: bisque;
 }
 


 #navbar3
 {
    background-color: brown;
 }
 
 
 
    



 