


#areas {
    display:grid;
    width: 100% ;
    height: 1000px;
    gap: 10px;
    grid-template-areas: "head head"
                         "nav main"
                         "nav foot";
    grid-template-rows: 5% 67% 2%10;
    grid-template-columns: 100px 1fr;                       
}


header{
    padding: 5px;
    grid-area: head;
    background-color: rgb(208, 208, 255);
}


nav {
    padding: 5px;
    grid-area: nav;
    background-color: rgb(146, 109, 182);
    list-style: none;
}


main{
    padding: 10px;
    grid-area: main;
    background-color: rgb(173, 173, 246);
}


footer{
    padding: 5px;
    grid-area: foot;
    background-color: rgb(131, 127, 255);
}



