/* Hero*/

.site-hero{
    background-image: url(https://wallpaperaccess.com/full/2550596.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 3px 0px rgb(98, 50, 125) ;
}
.hero-text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(224, 190, 255);
    text-shadow: 4px 4px 4px rgb(0, 0, 151);
}
button{
    width: 200px;
    color: blue;
    background-color: rgb(255, 155, 248);
    box-shadow: 0px 3px 3px 0px rgb(98, 50, 125) ;
    
}
p1{ background-color: rgb(206, 233, 255);
    
}
body{
    margin: 30px;
}
.my-container {
    border: 1px solid rgb(211, 57, 83)
  }
  .my-row{
    border: 3px solid rgb(132, 7, 28)
  }
  .my-col{
    border: 3px dotted rgb(72, 14, 24)
  }
  

 1div{ .grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }


 }

 * { box-sizing: border-box; }

 body { font-family: sans-serif; }
 
 /* ---- grid ---- */
 
 .grid {
   background: #EEE;
   max-width: 1200px;
 }
 
 /* clearfix */
 .grid:after {
   content: '';
   display: block;
   clear: both;
 }
 
 /* ---- grid-item ---- */
 
 .grid-item {
   width: 160px;
   height: 120px;
   float: left;
   background: #D26;
   border: 2px solid #333;
   border-color: hsla(0, 0%, 0%, 0.5);
   border-radius: 5px;
 }
 
 .grid-item--width2 { width: 320px; }
 .grid-item--width3 { width: 480px; }
 .grid-item--width4 { width: 640px; }
 
 .grid-item--height2 { height: 200px; }
 .grid-item--height3 { height: 260px; }
 .grid-item--height4 { height: 360px; }
 
 
